obonet==0.3.0
transformers==4.9.0
datasets==1.10.0
torch==1.9.1
#networkx==2.5.1
igraph
python-Levenshtein[0.12.2]
rapidfuzz==2.0.2
tqdm[4.62.2]
spacy==3.0.1
scispacy==0.4.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_lg-0.4.0.tar.gz
wandb==0.12.10
codecarbon==1.2.0
optuna==2.10.0
seqeval==1.2.2
orjson==1.3.0
gdown

# NILINKER requirements
tensorflow-gpu==2.5.1

#tensorflow-addons[2.2.0]
#-U scikit-learn==0.24.2
#gensim[4.1.1]